<!DOCTYPE html>
<html>

<head>
<title>Assistant</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

<h2>JobSafe</h2>

<a href="/">Analyzer</a>
<a href="/assistant">Assistant</a>
<a href="/dashboard">Dashboard</a>

</div>

<div class="app-container">

<h1>Job Safety Assistant</h1>

<div class="chat-card">

<div id="chatMessages" class="chat-messages">
<div class="bot">Ask me about job scams.</div>
</div>

<div class="chat-input-area">

<input id="chatInput" class="chat-input">

<button onclick="sendMessage()">Send</button>

</div>

</div>

</div>

<script>

function sendMessage(){

let input=document.getElementById("chatInput")
let msg=input.value

if(msg==="")return

let chat=document.getElementById("chatMessages")

chat.innerHTML+=`<div class="user">${msg}</div>`

fetch("/ask",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({question:msg})
})
.then(res=>res.json())
.then(data=>{
chat.innerHTML+=`<div class="bot">${data.answer}</div>`
})

input.value=""
}

</script>

</body>
</html>