<!DOCTYPE html>
<html>

<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">

<h2>JobSafe</h2>

<a href="/">Analyzer</a>
<a href="/assistant">Assistant</a>
<a href="/dashboard">Dashboard</a>

</div>

<div class="app-container">

<h1>Fraud Analytics Dashboard</h1>

<div class="dashboard-grid">

<div class="card">
<h3>Total Jobs Analyzed</h3>
<p>{{total}}</p>
</div>

<div class="card">
<h3>High Risk Jobs</h3>
<p>{{high}}</p>
</div>

<div class="card">
<h3>Moderate Risk Jobs</h3>
<p>{{medium}}</p>
</div>

<div class="card">
<h3>Low Risk Jobs</h3>
<p>{{low}}</p>
</div>

</div>

</div>

</body>
</html>