from flask import Flask, render_template, request
import joblib
import os

from analysis.keyword_checker import check_keywords
from analysis.email_checker import check_email
from analysis.salary_checker import check_salary
from analysis.risk_score import calculate_risk_score
from analysis.explain_prediction import explain_prediction

app = Flask(__name__)

# Load model
model = joblib.load("model/job_model.pkl")
vectorizer = joblib.load("model/vectorizer.pkl")


@app.route("/", methods=["GET", "POST"])
def index():

    result = None

    if request.method == "POST":

        job_description = request.form.get("job_description")
        recruiter_email = request.form.get("recruiter_email")

        if job_description:

            # ML prediction
            vector = vectorizer.transform([job_description])
            prediction = model.predict(vector)[0]

            try:
                confidence = abs(model.decision_function(vector)[0])
                confidence = round(min(confidence * 10, 100), 2)
            except:
                confidence = 80

            if prediction == 1:
                prediction_label = "Fraudulent"
            else:
                prediction_label = "Legitimate"

            # Run analysis modules
            keyword_flags = check_keywords(job_description)
            email_risk = check_email(recruiter_email)
            salary_risk = check_salary(job_description)

            explanation = explain_prediction(
                job_description,
                keyword_flags,
                email_risk,
                salary_risk
            )

            risk_score = calculate_risk_score(
                prediction,
                keyword_flags,
                email_risk,
                salary_risk
            )

            result = {
                "prediction": prediction_label,
                "confidence": confidence,
                "keywords": keyword_flags,
                "email_risk": email_risk,
                "salary_risk": salary_risk,
                "risk_score": risk_score,
                "explanation": explanation
            }

    return render_template("index.html", result=result)


@app.route("/assistant")
def assistant():
    return render_template("assistant.html")


@app.route("/dashboard")
def dashboard():
    return render_template("dashboard.html")


if __name__ == "__main__":
    app.run(debug=True)