<!DOCTYPE html>
<html>

<head>

<title>JobSafe</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!-- SIDEBAR -->

<div class="sidebar">

<h2>JobSafe</h2>

<a href="/">Analyzer</a>
<a href="/assistant">Assistant</a>
<a href="/dashboard">Dashboard</a>

</div>


<!-- MAIN CONTENT -->

<div class="app-container">

<h1>Job Post Analyzer</h1>

<div class="card">

<form method="POST">

<textarea
name="job_description"
placeholder="Paste job description here"
required></textarea>

<br>

<input
type="text"
name="recruiter_email"
placeholder="Recruiter Email (optional)">

<br>

<button type="submit">Analyze Job</button>

</form>

</div>



{% if result %}

<div class="card result">

<h2>{{ result.prediction }}</h2>

<p><b>Model Confidence:</b> {{ result.confidence }}%</p>

<p><b>Fraud Risk Score:</b> {{ result.risk_score }}/100</p>


<!-- RISK METER -->

<canvas id="riskMeter" width="300" height="200"></canvas>


<h3>Detailed Analysis</h3>

<ul>

{% for i in result.insights %}
<li>{{ i }}</li>
{% endfor %}

</ul>


{% if result.keywords %}

<h3>Detected Suspicious Keywords</h3>

<ul>

{% for k in result.keywords %}
<li>{{ k }}</li>
{% endfor %}

</ul>

{% endif %}

</div>


<script>

var risk = {{ result.risk_score }}

var ctx = document.getElementById('riskMeter')

new Chart(ctx, {

type: 'doughnut',

data: {

datasets: [{
data: [risk, 100-risk],
backgroundColor: ['#ff4d6d','#222']
}]

},

options:{
rotation:-90,
circumference:180,
plugins:{legend:{display:false}}
}

})

</script>

{% endif %}


</div>

</body>

</html>